#tooltip {
  position: absolute;
  display: grid;

  // min-width: 300px;
  // max-width: 500px;
  width: 500px;
  height: auto;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;

  font-size: 0.8rem;
  font-family: 'Glyphboard-Regular', sans-serif;

  max-height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;

  &.fixed {
    border: 2px solid teal;
    overflow-y: auto !important;
  }
}

.label-button-row {
  align-items: center;
  mat-button-toggle-group {
    width: 100%;
    mat-button-toggle {
      width: 50%;
    }
  }
}

.text {
  overflow-y: auto;
  max-height: 50vh;
  p {
    white-space: pre-line;
    width: 100%;
  }
}

.row {
  display: flex;
  padding-bottom: 8px;
  // width: 100%;

  .row-icon {
    mat-icon {
      font-size: 2em;
    }
    width: 40px;
    // float: left;
  }

  .row-content {
    // width: 85%;
    // float: left;
    flex: 1;
  }
}

.score-row {
  align-items: center;
  span.score {
    font-size: 1.2em;
  }
}

