<div
  #tooltip
  id="tooltip"
  [style.left]="x + 'px'"
  [style.top]="y + 'px'"
  [ngClass]="{ hidden: !isVisible, fixed: isFixed }"
>
  <div>
    <mat-icon>music_note</mat-icon>
    <mat-button-toggle-group
      [value]="isMusic"
      name="isMusic"
      (change)="labelData($event)"
    >
      <mat-button-toggle value="1">Ja</mat-button-toggle>
      <mat-button-toggle value="0">Nein</mat-button-toggle>
    </mat-button-toggle-group>
    <!-- <mat-icon>date_range</mat-icon>
    <mat-button-toggle-group name="isEvent" (change)="labelData($event)">
      <mat-button-toggle value="1">Ja</mat-button-toggle>
      <mat-button-toggle value="0">Nein</mat-button-toggle>
    </mat-button-toggle-group> -->
  </div>
  <!-- <div>{{ closestPoint?.id }}</div> -->
  <div *ngIf="values[6]">{{ values[6][1] }}</div>
  <span>{{ closestPoint?.selectionScore }}</span>
  <!-- <div>{{ _data | json }}</div> -->
</div>
