<div
  #tooltip
  id="tooltip"
  [style.left]="x + 'px'"
  [style.top]="y + 'px'"
  [ngClass]="{ hidden: !isVisible, fixed: isFixed }"
>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div class="row label-button-row">
    <div class="row-icon">
      <mat-icon>music_note</mat-icon>
    </div>
    <div class="row-content">
      <mat-button-toggle-group
        [value]="isMusic"
        name="isMusic"
        (change)="labelData($event)"
      >
        <mat-button-toggle value="1">Ja</mat-button-toggle>
        <mat-button-toggle value="0">Nein</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- <mat-icon>date_range</mat-icon>
    <mat-button-toggle-group name="isEvent" (change)="labelData($event)">
      <mat-button-toggle value="1">Ja</mat-button-toggle>
      <mat-button-toggle value="0">Nein</mat-button-toggle>
    </mat-button-toggle-group> -->
  </div>
  <!-- <div>{{ closestPoint?.id }}</div> -->
  <div class="row" *ngIf="values[6]">
    <div class="row-icon">
      <!-- <mat-icon>description</mat-icon> -->
      <mat-icon>format_quote</mat-icon>
    </div>
    <div class="row-content text">
      <p>{{ values[6][1] }}</p>
    </div>
  </div>
  <div class="row score-row">
    <div class="row-icon">
      <mat-icon>fitness_center</mat-icon>
    </div>
    <div class="row-content">
      <span class="score"
        >{{ (closestPoint?.selectionScore * 100).toFixed(2) }}%</span
      >
    </div>
  </div>

  <!-- <div>{{ _data | json }}</div> -->
</div>
