@import "src/assets/styles/variables";

.bounding {
  position: relative;
  margin-top: 20px;
  margin-bottom: -15px;
}
.slide {
  transform: translateY(14px);

  &.zoomed{
    transition: all 0.2s;

    &.dragging{
      transition: all 0s;
    }

    &.primary{
      outline: 2px solid $button-active-color;
    }

    &.secondary{
      outline: 2px solid $text-foreground-color;
    }
  }

  &.zooming{
    outline: 2px solid $button-dark-color;
  }
}

.slider {
  position: relative;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;

  border: 0px solid $button-dark-color;
  border-radius: 15px;

  background: $button-dark-color;

  &.dragging {
    background-color: $button-active-color;
    cursor: grabbing;
  }

  &.min {
    transform: translateY(-26px);
  }

  &.max {
    transform: translateY(-46px);
  }

  &:hover{
    background-color: $button-active-color;
    cursor: grab;
  }
}

.indicator {
  position: relative;
  left: 0;
  top: 0;
  width: 0; 
  height: 0; 
  
  &.primary{
    border-left: calc(15px/0.866/2) solid transparent;
    border-right: calc(15px/0.866/2) solid transparent;
    border-bottom: 15px solid $button-active-color;
    transform: translateY(18px);
  }

  &.secondary{
    border-left: calc(15px/0.866/2) solid transparent;
    border-right: calc(15px/0.866/2) solid transparent;
    border-top: 15px solid $text-foreground-color;
    transform: translateY(-20px);
  }

  &.dragging {
    transition: all 0s;
  }

  &:hover {
    cursor: grab;
  }
}

.invisible {
  visibility: hidden;
}
