canvas {
    width: 100%;
    height: 100%;
    background-color: #111111;
    padding: 10;
}

#selectionrectangle {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    pointer-events: none;
}

* {
    float:left;
    padding:0px;
    margin:0px;
}
