<div class="option" [ngClass]="{ 'active': active }">
  <div class="d3-chart" (click)="resize()" #chart>
  </div>
  <div class="context" [ngClass]="{ 'small' : small, 'big': !small, 'continuous' : this.configuration!.configurations[0].selectedFeatureName == label && this.configuration!.configurations[0].useColorRange, 'invisible' : this.configuration!.configurations[0].selectedFeatureName == label && !this.configuration!.configurations[0].useColorRange }"></div>
  <div class="context" [ngClass]="{ 'small' : small, 'big': !small, 'invisible' : this.configuration!.configurations[0].selectedFeatureName !== label || this.configuration!.configurations[0].useColorRange }">
    <div class="categorical" *ngFor="let f of colorSteps" [style.background-color]="f"></div>
  </div>
  <div class="label_wrap">
    <span class="label" [style.width.px]="small ? '64' : '280'"  (click)="resize()">{{label}}</span>
    <div class="expander" [ngClass]="{ 'invisible': !active }" (click)="changed()"><i class="icon-minus"></i></div>
    <div class="expander" [ngClass]="{ 'invisible': active }" (click)="changed()"><i class="icon-plus"></i></div>
    <div class="expander" [ngClass]="{ 'invisible': small }" (click)="clearFilter()"><i class="icon-erase"></i></div>
    <div class="expander" [ngClass]="{ 'invisible': small }" (click)="selectColor()"><i class="icon-color"></i></div>
  </div>
</div>
