$background-color: #373737;
$text-foreground-color: #ebebeb;
$button-dark-color: #1a1a1a;
$button-light-color: #ebebeb;
$button-active-color: #0093d6;
$tab-inactive-color: #989898;

$histogram-selection: #c1d8e0;
$histogram-selected-bars: #0093d6;
$histogram-unselected-bars: #1a1a1a;

$color-scale-low: #286367;
$color-scale-high: #BF3330;