@import 'src/assets/styles/variables';

.dashboard-tab {
    padding-top: $dashboard-padding !important;
    padding-left: $dashboard-padding;
    padding-right: $dashboard-padding;

    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    min-height: 265px;
    max-height: 30vh;

    @media screen and (max-width: $break-small) {
        min-height: initial;
        max-height: 22vh;
    }
    @media screen and (min-width: $break-large) {
        min-height: 265px;
        max-height: 32vh;
    }
}

::-webkit-scrollbar {
    width: 8px;  /* for vertical scrollbars */
    height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: $background-color;
}

::-webkit-scrollbar-thumb {
    background: $tab-inactive-color; 
}

.fullsize {
    width: 100%;
}

.infobox {
    padding-bottom: 24px;
}

mat-form-field {
    width: 100%;
}
