<div #tooltip id="tooltip" [style.left]="(x) + 'px'" [style.top]="(y) + 'px'" [ngClass]="{ 'hidden': !isVisible, 'fixed': isFixed }">
  <div id="heading">
    <div id="controls">
      <fa-icon [icon]="faPencilAlt" [class.active]="isEdit" (click)="saveChanges($event)"></fa-icon>
      <fa-icon [icon]="faCircle"></fa-icon>
      <fa-icon [icon]="faThumbsUp"></fa-icon>
    </div>
  </div>
  <table [style.display]="isEdit ? 'none' : 'block'">
    <tr *ngFor="let row of values">
      <td class="label">{{row[0]}}</td>
      <td class="value">
        <div class="tableContent">
          <span *ngIf="(row[1] + '').indexOf('http://') === -1">{{(row[1]+'')}}</span>
          <a href="{{(row[1]+'')}}" *ngIf="(row[1] + '').indexOf('http://') !== -1">{{(row[1]+'')}}</a>
        </div>
      </td>
    </tr>
  </table>
  <table [style.display]="isEdit ? 'block' : 'none'">
    <tr *ngFor="let row of values">
      <td class="label">{{row[0]}}</td>
      <td class="value">
        <textarea>{{(row[1]+'')}}</textarea>
      </td>
    </tr>
  </table>
</div>
