<div id="wrapper" (window:resize)="onResize()">
<app-glyphplot [width]="regionManager.regions[0].width" [height]="regionManager.regions[0].height" [style.display]="regionManager.regions[0].display"></app-glyphplot>
<app-splitter [style.display]="regionManager.regions[1].display"></app-splitter>
<app-glyphplot [width]="regionManager.regions[1].width" [height]="regionManager.regions[1].height" [style.display]="regionManager.regions[1].display"></app-glyphplot>
<app-featureplot [style.width]="regionManager.regions[2].width" [style.height]="regionManager.regions[2].height" [style.display]="regionManager.regions[2].display"></app-featureplot>
<app-glyphplot-webgl name="webgl" [width]="regionManager.regions[3].width" [height]="regionManager.regions[3].height" [style.display]="regionManager.regions[3].display"></app-glyphplot-webgl>
<app-splitter [style.display]="regionManager.regions[4].display"></app-splitter>
<app-glyphplot-webgl name="webgl2" [width]="regionManager.regions[4].width" [height]="regionManager.regions[4].height" [style.display]="regionManager.regions[4].display"></app-glyphplot-webgl>

<app-lense></app-lense>
<app-dashboard></app-dashboard>
<app-global-dialog></app-global-dialog>
</div>
